*.wasm
*.wat
wagnostic
wagnostic-term
*.o
*.a
wagnostic.sh
wagnostic/
*_data.h
*.raw
*.so
examples/benchmark
examples/wagnostic-bench
wagnostic-bench-*
wagnostic-wasmtime
wagnostic-*
v8_Linux_x64
examples/runners/lib/*