*.wasm
*.wat
emulators/wasm3/wagnostic
wagnostic-term
emulators/spidermonkey/wagnostic-sm
emulators/gifnostic/gifnostic
*.o
*.a
wagnostic.sh
wagnostic/
*_data.h
*.raw
*.so
examples/benchmark
examples/wagnostic-bench
wagnostic-bench-*
wagnostic-wasmtime
wagnostic-*
v8_Linux_x64
examples/emulators/lib/*
wagn0/
emulators/wasm3/wasm3
*.wag
*.tar
node_modules
/build/